<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/prove</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">leoleo</property>
    <!-- permette di creare automaticamente la tabella-->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="persistentclasses/Progetto.hbm.xml"/>
    <mapping resource="persistentclasses/Rischio.hbm.xml"/>
    <mapping resource="persistentclasses/Azioni.hbm.xml"/>
    <mapping resource="persistentclasses/Revisione.hbm.xml"/>
    <mapping resource="persistentclasses/CkMitigazione.hbm.xml"/>
    <mapping resource="persistentclasses/CkRecovery.hbm.xml"/>
    <mapping resource="persistentclasses/CkRischi.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
